@import 'assets/variables.scss';

.input {
    display:flex;
    justify-content:space-between;
    margin-top:0.5em;
    .input-field {
        input {
            vertical-align:middle;
        }
        span {
            display:inline-block;
            margin-left:0.8em;
            min-width:4.5em;
        }
    }
}

@media only screen and (max-width: $mobileSize) {
    .input {
        flex-direction: column;
    }   
}