.input {
    display:flex;
    justify-content:space-between;
    .input-field {
        input {
            vertical-align:middle;
        }
        span {
            display:inline-block;
            margin-left:0.8em;
            min-width:2em;
        }
    }
}