@mixin small-mobile-layout {
  grid-template-areas:
    'header'
    '.'
    'output'
    '.'
    'input'
    '.'
    'gallery';
}

@mixin large-mobile-layout {
  grid-template-areas:
    'input . header'
    'input . .'
    'input . output'
    '. . .'
    'gallery gallery gallery';
}

@mixin desktop-layout {
  grid-template-areas:
    'header . gallery'
    '. . gallery'
    'output . gallery'
    '. . gallery'
    'input . gallery';
}
