@import 'assets/mixins.scss';
@import 'assets/variables.scss';

.gallery-options-form {
  display: inline-block;
  .filter,
  .filter-inputs,
  .sort {
    display: inline-block;
    margin-left: 1em;
  }
  .sort {
    .pmr-button {
      width: 4.5em;
    }
  }
  @media only screen and (max-width: $mobileSize) {
    @include center-content;
    flex-direction: column;
    .filter,
    .filter-inputs,
    .sort {
      align-self: flex-start;
      margin: 0.6em 0 0 0;
    }
  }
}
