.c-app {
  color: $font-color;
  font-family: 'Verdana';
  display: grid;
  grid: 4em 1em 1fr 1em 1fr 1em 1fr / 1fr;
  @include small-mobile-layout;
  @media only screen and (min-width: $min-landscape-width) and (orientation: landscape) {
    grid: 4em 1em minmax(calc(100vh - 6em), 1fr) 1em 1fr / 1fr 1em 1fr;
    @include large-mobile-layout;
  }
  @media only screen and (min-width: $min-landscape-width) and (orientation: portrait) {
    grid: 4em 1em 1fr 1em 1fr / 1fr 1em 1fr;
    @include large-mobile-layout;
  }
  @media only screen and (min-width: $desktop-size) {
    grid: 4em 1em 1fr 1em 1fr / minmax($editor-width, 1fr) 1em 2fr;
    @include desktop-layout;
  }
}

.c-editor--input {
  grid-area: input;
}

.c-editor--preview {
  grid-area: output;
}

.c-gallery {
  grid-area: gallery;
}

.c-header {
  grid-area: header;
}
