.app {
  color: $font-color;
  font-family: 'Verdana';
  .editor-input {
    grid-area: input;
  }
  .editor-preview {
    grid-area: output;
  }
  .gallery {
    grid-area: gallery;
  }
  .pmr-main-header {
    grid-area: header;
  }
  display: grid;
  grid: 4em 1em 1fr 1em 1fr 1em 1fr / 1fr;
  @include smallMobileLayout;
  @media only screen and (min-width: $min-landscape-width) and (orientation: landscape) {
    grid: 4em 1em minmax(calc(100vh - 6em), 1fr) 1em 1fr / 1fr 1em 1fr;
    @include largeMobileLayout;
  }
  @media only screen and (min-width: $min-landscape-width) and (orientation: portrait) {
    grid: 4em 1em 1fr 1em 1fr / 1fr 1em 1fr;
    @include largeMobileLayout;
  }
  @media only screen and (min-width: $desktop-size) {
    grid: 4em 1em 1fr 1em 1fr / minmax($editor-width, 1fr) 1em 2fr;
    @include desktopLayout;
  }
}
