.input__form {
  position: relative;
  .form__save-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  @media only screen and (min-width: $tablet-size) {
    position: static;
    .form__save-button {
      position: static;
      top: auto;
      right: auto;
    }
  }
}
