.app__header {
  background-color: lighten($background-color, 10%);
  margin: 0 auto;
  padding: 0.5em 0 0 0;
  width: 100%;
  @include center-content;
  .header__text {
    h1 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 2px;
    }
    h2 {
      color: $font-color-light;
      font-size: 0.7rem;
      margin: 2px;
      font-weight: 400;
      text-align: right;
    }
  }
  @media only screen and (min-width: $tablet-size) {
  }
}
