@import '../../../assets/variables.scss';

button {
    background:$background;
    border:1px solid $accent;
    border-radius:46%;
    box-shadow: 1px 1px 1px $accent;
    font-size:0.8rem;
    font-weight:600;
    margin:0.6em;
    padding:0.8em;
    transition-duration: 0.2s;
    &:hover {
        background-color: lighten($accent,20%);
    }
    svg {
        color:$accent;
    }
}

.button-no-border {
    border:none;
    box-shadow:none;
}