@import 'assets/variables.scss';

button {
    background:$primary;
    border:1px solid $primary;
    border-radius:2px;
    color:$fontColor;
    font-size:0.8rem;
    font-weight:600;
    margin:0.6em;
    padding:0.8em;
    transition-duration: 0.2s;
    svg {
        color:$fontColor;
    }
}

.button-no-border {
    border:none;
}