.content {
    display:grid;
    flex:1;
    grid:1fr 1em 2fr / 1fr 1em 2fr;
    grid-template-areas:
      "editor . output"
      ". . ."
      "gallery gallery gallery";
    margin:0.5em;
    padding: 2em;
    .editor {
      grid-area:editor;
    }
    .output {
      grid-area:output;
    }
    .gallery {
      grid-area:gallery;
    }
}
