@import '../../assets/variables.scss';

.content {
    display:grid;
    flex:1;
    grid:1fr 1em 4fr / 1fr 1em 1fr;
    grid-template-areas:
      "input . output"
      ". . ."
      "gallery gallery gallery";
    margin-top: 1em;
    padding: 0.8em;
    position:relative;
    .editor {
      display:flex;
      align-content:center;
      align-items:center;
      justify-content:center;
    }
    .editor-input {
      grid-area:input;
    }
    .editor-preview {
      grid-area:output;
    }
    .gallery {
      grid-area:gallery;
    }
}

@media only screen and (max-width: 600px) {
  .content {
    grid:1fr 1em 1fr 1em 0fr / 1fr;
    grid-template-areas:
        "input"
        "."
        "output"
        "."
        "gallery";
  }
}