@import '../../assets/variables.scss';

.content {
    display:grid;
    flex:1;
    grid:1fr 1em 2fr / 1fr 1em 1fr;
    grid-template-areas:
      "input . output"
      ". . ."
      "gallery gallery gallery";
    margin:0.5em;
    padding: 2em;
    position:relative;
    .editor-input {
      grid-area:input;
      position:relative;
    }
    .editor-preview {
      grid-area:output;
      min-height:$rectMaxSize;
      min-width:$rectMaxSize;
      position:relative;
    }
    .gallery {
      grid-area:gallery;
    }
}

@media only screen and (max-width: 600px) {
  .content {
    grid:1fr 1em 1fr 1em 2fr / 1fr;
    grid-template-areas:
        "editor-input"
        "."
        "output"
        "."
        "gallery";
  }
}