@import 'assets/mixins.scss';
@import 'assets/variables.scss';

.pmr-main-header {
  background-color: lighten($background, 10%);
  @include center-content;
  .pmr-main-header-text {
    h1 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 2px;
    }
    h2 {
      color: $fontColorLight;
      font-size: 0.7rem;
      margin: 2px;
      font-weight: 400;
      text-align: right;
    }
  }
  @media only screen and (max-width: $mobileSize) {
    margin: 0 auto;
    padding: 0.5em 0 0 0;
    width: 100%;
  }
}
