@import '../../assets/variables.scss';

header {
    background-color:lighten($background,10%);
    font-size:1rem;
    padding:1.5em;
    .header-text {
        margin: 0 auto;
        width: 10em; 
        h1 {
            font-size: 1.2rem;
            font-weight:600;
            margin:2px;
        }
        h2 {
            color:$fontColorLight;
            font-size: 0.7rem;
            margin:2px;
            font-weight:400;
            text-align:right;
        }
    }
}

@media only screen and (max-width: $mobileSize) {
    header {
        margin: 0 auto;
        padding:0.5em;
        width:100%;
    }
}