@mixin center-horizontally {
  display: flex;
  justify-content: center;
}

@mixin center-vertically {
  display: flex;
  align-items: center;
}

@mixin center-content {
  @include center-horizontally;
  @include center-vertically;
}
