@import 'assets/variables.scss';

html, body, #root, .app {
  background-color:$background;
  color:$fontColor;
  font-family:'Verdana';
  font-size: 16px;
  height:100vh;
  max-width:1280px;
  margin:0 auto;
  padding:0;
}

.app {
  display:grid;
  grid:5em 1em 4fr 1em 2fr / 360px 1em 1fr;
  grid-template-areas:
    "header . output"
    ". . output"
    "input . output"
    ". . ."
    "gallery gallery gallery";
  padding: 0;
  .editor {
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:center;
  }
  .editor-input {
    grid-area:input;
  }
  .editor-preview {
    grid-area:output;
    min-height:$galleryRectSize;
    min-width:$galleryRectSize;
    padding:0.8em;
  }
  .gallery {
    grid-area:gallery;
  }
  header{
    grid-area:header;
  }
  overflow-y:auto; 
}

@media only screen and (max-width: $mobileSize) {
.app {
  grid:4em 1em 1fr 1em 1fr 1em 1fr / 1fr;
  grid-template-areas:
    "header"
    "."
    "input"
    "."
    "output"
    "."
    "gallery";
}

}